[buildout]
develop = .
parts = test
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
extensions = mr.developer
auto-checkout = grok
                zope.fanstatic
                fanstatic

[versions]
grokui.admin =
# Remove these after the next groktoolkit release.
grokcore.xmlrpc = 1.0
grokcore.traverser = 1.0
grokcore.site = 1.5
grokcore.rest = 1.0

[test]
recipe = zc.recipe.testrunner
eggs = grokui.admin [test]
